	body {
			
			background-image: url(images/gg.jpg);
			background-position: center; 
			background-repeat: no-repeat; 
			background-size: cover;

						
		}

		.navbar{
			background-color: black!important;
		}


		.btn{
			
			width: 	150px;
			height: 150px;
			border-radius: 50%;
		}
		.btn0{
			color: #008fcb;
			box-shadow:  7px 7px 10px #003349, 
			            inset -7px -7px 10px #008fcb;
		}


		.btn1{
			color: #bd22ff;
			/*background: linear-gradient(145deg, #e0e6e6, #ffffff);*/
  			box-shadow:  8px 8px 16px #4d0e86, 
            inset -8px -8px 16px #bd22ff;
		}

		.btn2{
			color: #7e8108;
			/*background: linear-gradient(145deg, #e0e6e6, #ffffff);*/
			box-shadow:  8px 8px 16px #7e8108, 
            inset -8px -8px 16px #ffff12;
		}
		
		.btn3{
			 color:#29cb00;
			  /*background: linear-gradient(145deg, #ffffff, #e6e6e6);*/
			  box-shadow:  7px 7px 14px #0f4900, 
			            inset  -7px -7px 14px #29cb00;
		}

		.btn4{
			color: #ff1230;
			box-shadow:  8px 8px 16px #810814, 
            inset -8px -8px 16px #ff1230;
		}

		#l{
			border-radius: 50%;
			margin-top: 5%;
		}

		#i,#j{
			padding-top: 5%;
		}
		
	
		.resultat {
			color: #008fcb;
			text-align: center;
			margin-top: 3%;
			
			
		}
		

		p{
			color:#0f4900;
		}

		 #maDIV{
			color: darkgoldenrod;
		 }

		#bravo{
			color: #ff1230;
		}

		.testo{
			color: #ff1230;
		}
  		