* {
    margin: 0;
    padding: 0;
    list-style: none;
}


article {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background: url(images/circle.jpg);
    clip-path: circle(100px at center);
}

.container {
    position: absolute;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
}

.container h2 {
    font-size:2.5em ;
    margin-bottom: 20px;
}

.title {
    position: relative;
    top: 200px;
    z-index: 10;
    font-size: 3em;
    text-align: center;
    width: 100%;
    color: black;
}







section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.25em;
    height: 18.75em;
    margin: 0px 50px 0px 50px;
    

}

.card {
    position: absolute;
    width: 80%;
    padding: 20px 80px 20px 20px;
    border-radius: 10px;
    background-color: darkcyan;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}




.card:nth-child(1) {
    clip-path: circle(8% at 91% 15%);

}

.card:nth-child(2) {
    clip-path: circle(8% at 91% 50%);

}

.card:nth-child(3) {
    clip-path: circle(8% at 91% 85%);

}

.card:hover {
    clip-path: circle(80%);
    z-index: 99;

}

.card::before {
    content: "\f1d0";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 2em;
}


.card:nth-child(1)::before {
    content: "\f1d0";
    right: 29px;
    top: 15px;
    font-size: 2em;
}

.card:nth-child(2)::before {
    content: "\f19d";
    right: 24px;
    top: 42%;
    font-size: 2em;
}

.card:nth-child(3)::before {
    content: "\f2c1";
    right: 33px;
    bottom: 7%;
    font-size: 2em;
}

.card:hover::before {
    color: transparent;
}

.card:nth-child(2):hover {
    background-color: cadetblue;
}

.card:nth-child(3):hover {
    background-color:cornflowerblue;
}

h1 {
    margin-bottom: 20px;
}




